<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Home Page of Testing Site by MAXIMILIAN</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        <script src="js/chess_get_id.js"></script>
    </head>
    <body>
        <form id="idForm">
            <input id="idInput" type="text" required>
            <input id="idSubmit" type="button" onclick=getIdChess()>
        </form>
    </body>
</html>
