<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <title>Home Page of Testing Site by MAXIMILIAN</title>
        <script src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        </script>
    </head>
    <body>
        <h1>Chess Site created by Max Ballard</h1>

        <a href="/makeNewChess">
            <h2>New Game</h2>
        </a>

        <a href="/getChessById">
            <h2>Get Chess Game by ID</h2>
        </a>

    </body>
</html>
